#paragraph {
    background-color: yellow;
    background-image: url(image/f.jpg);
    /* background-repeat: repeat; */
     background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-position: right center; */
    background-position: 30px 50px;
    background-size: 1000px 600px;
}
body{
    background-color: red;

}